In [1]:
import json

path = 'staff.txt'

with open(path, 'r', encoding='utf-8') as f:
    staffStr = f.read()
print(staffStr)

| ID  |  Name | DeptId| Age | Gender | Salary |
| --- |  ---  |  ---  | --- |  ---   | ------ |
| 001 | Mike  | 002   | 45  |   M    | 60000  |
| 002 | Judy  | 002   | 30  |   F    | 48000  |
| 003 | Allen | 001   | 22  |   M    | 50000  |
| 004 | Tom   | 002   | 47  |   M    | 47000  |
| 005 | Jack  | 003   | 36  |   M    | 52000  |
| 006 | Abby  | 002   | 24  |   F    | 45000  |
| 007 | Trump | 001   | 80  |   M    | 80000  |
| 008 | Marry | 003   | 29  |   F    | 87000  |

In [12]:
column = staffStr.replace(' ', '').split('\n')[0].split('|')[1:-1]
print(column)

['ID', 'Name', 'DeptId', 'Age', 'Gender', 'Salary']

In [14]:
staffStr.replace(' ', '').split('\n')[2:-1]

['|001|Mike|002|45|M|60000|',
 '|002|Judy|002|30|F|48000|',
 '|003|Allen|001|22|M|50000|',
 '|004|Tom|002|47|M|47000|',
 '|005|Jack|003|36|M|52000|',
 '|006|Abby|002|24|F|45000|',
 '|007|Trump|001|80|M|80000|']

In [18]:
staffInfo = list()
for r in staffStr.replace(' ', '').split('\n')[2:-1]:
    staffInfo.append(r.split('|')[1:-1])
#     print(r.split('|')[1:-1])

staffInfo

[['001', 'Mike', '002', '45', 'M', '60000'],
 ['002', 'Judy', '002', '30', 'F', '48000'],
 ['003', 'Allen', '001', '22', 'M', '50000'],
 ['004', 'Tom', '002', '47', 'M', '47000'],
 ['005', 'Jack', '003', '36', 'M', '52000'],
 ['006', 'Abby', '002', '24', 'F', '45000'],
 ['007', 'Trump', '001', '80', 'M', '80000']]

In [19]:
staffInfo = [s.split('|')[1:-1] for s in staffStr.replace(' ', '').split('\n')[2:-1]]
staffInfo

[['001', 'Mike', '002', '45', 'M', '60000'],
 ['002', 'Judy', '002', '30', 'F', '48000'],
 ['003', 'Allen', '001', '22', 'M', '50000'],
 ['004', 'Tom', '002', '47', 'M', '47000'],
 ['005', 'Jack', '003', '36', 'M', '52000'],
 ['006', 'Abby', '002', '24', 'F', '45000'],
 ['007', 'Trump', '001', '80', 'M', '80000']]

In [6]:
staffJson = {staff[0]: {column[col]: info for col, info in enumerate(staff)} for staff in staffInfo}
staffJson

{'001': {'ID': '001',
  'Name': 'Mike',
  'DeptId': '002',
  'Age': '45',
  'Gender': 'M',
  'Salary': '60000'},
 '002': {'ID': '002',
  'Name': 'Judy',
  'DeptId': '002',
  'Age': '30',
  'Gender': 'F',
  'Salary': '48000'},
 '003': {'ID': '003',
  'Name': 'Allen',
  'DeptId': '001',
  'Age': '22',
  'Gender': 'M',
  'Salary': '50000'},
 '004': {'ID': '004',
  'Name': 'Tom',
  'DeptId': '002',
  'Age': '47',
  'Gender': 'M',
  'Salary': '47000'},
 '005': {'ID': '005',
  'Name': 'Jack',
  'DeptId': '003',
  'Age': '36',
  'Gender': 'M',
  'Salary': '52000'},
 '006': {'ID': '006',
  'Name': 'Abby',
  'DeptId': '002',
  'Age': '24',
  'Gender': 'F',
  'Salary': '45000'},
 '007': {'ID': '007',
  'Name': 'Trump',
  'DeptId': '001',
  'Age': '80',
  'Gender': 'M',
  'Salary': '80000'}}

In [20]:
print(type(staffJson))

<class 'dict'>

In [21]:
jsonStr = json.dumps(staffJson)
jsonStr

'{"001": {"ID": "001", "Name": "Mike", "DeptId": "002", "Age": "45", "Gender": "M", "Salary": "60000"}, "002": {"ID": "002", "Name": "Judy", "DeptId": "002", "Age": "30", "Gender": "F", "Salary": "48000"}, "003": {"ID": "003", "Name": "Allen", "DeptId": "001", "Age": "22", "Gender": "M", "Salary": "50000"}, "004": {"ID": "004", "Name": "Tom", "DeptId": "002", "Age": "47", "Gender": "M", "Salary": "47000"}, "005": {"ID": "005", "Name": "Jack", "DeptId": "003", "Age": "36", "Gender": "M", "Salary": "52000"}, "006": {"ID": "006", "Name": "Abby", "DeptId": "002", "Age": "24", "Gender": "F", "Salary": "45000"}, "007": {"ID": "007", "Name": "Trump", "DeptId": "001", "Age": "80", "Gender": "M", "Salary": "80000"}}'

In [22]:
with open('staff.json', 'w', encoding='utf-8') as f:
    f.write(jsonStr)