In [1]:
import pymysql

In [2]:
host = 'localhost' # 127.0.0.1
port = 3306
user = 'root'
passwd = 'root'
db = 'TESTDB'
charset = 'utf8mb4'

In [3]:
conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)

In [4]:
cursor = conn.cursor()

In [5]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

In [6]:
cursor.execute(sql)

1

In [7]:
conn.commit()

In [8]:
sql = """
SELECT * FROM Staff;
"""

In [9]:
cursor.execute(sql)

1

In [10]:
cursor.fetchall()

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [11]:
cursor.fetchall()

()

In [13]:
import time
t = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime())
print(t)

2020-10-18 16:06:10

In [15]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('002', 'Mike', '002', 45, 'M', 60000, '%s');
"""%(t)

In [16]:
print(sql)

INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('002', 'Mike', '002', 45, 'M', 60000, '2020-10-18 16:06:10');

In [17]:
cursor.execute(sql)

1

In [18]:
conn.commit()

In [19]:
sql = """DELETE FROM Staff;"""

In [20]:
cursor.execute(sql)

2

In [21]:
conn.commit()

In [22]:
import json

path = 'staff.json'
with open(path, 'r', encoding='utf-8') as f:
    tmpStr = f.read()
    data = json.loads(tmpStr)
data

{'001': {'ID': '001',
  'Name': 'Mike',
  'DeptId': '002',
  'Age': '45',
  'Gender': 'M',
  'Salary': '60000'},
 '002': {'ID': '002',
  'Name': 'Judy',
  'DeptId': '002',
  'Age': '30',
  'Gender': 'F',
  'Salary': '48000'},
 '003': {'ID': '003',
  'Name': 'Allen',
  'DeptId': '001',
  'Age': '22',
  'Gender': 'M',
  'Salary': '50000'},
 '004': {'ID': '004',
  'Name': 'Tom',
  'DeptId': '002',
  'Age': '47',
  'Gender': 'M',
  'Salary': '47000'},
 '005': {'ID': '005',
  'Name': 'Jack',
  'DeptId': '003',
  'Age': '36',
  'Gender': 'M',
  'Salary': '52000'},
 '006': {'ID': '006',
  'Name': 'Abby',
  'DeptId': '002',
  'Age': '24',
  'Gender': 'F',
  'Salary': '45000'},
 '007': {'ID': '007',
  'Name': 'Trump',
  'DeptId': '001',
  'Age': '80',
  'Gender': 'M',
  'Salary': '80000'}}

In [23]:
data['001']

{'ID': '001',
 'Name': 'Mike',
 'DeptId': '002',
 'Age': '45',
 'Gender': 'M',
 'Salary': '60000'}

In [29]:
data['001'].values()

dict_values(['001', 'Mike', '002', '45', 'M', '60000'])

In [30]:
data['001'].keys()

dict_keys(['ID', 'Name', 'DeptId', 'Age', 'Gender', 'Salary'])

In [31]:
tuple(data['001'].values())

('001', 'Mike', '002', '45', 'M', '60000')

In [32]:
tuple(data['001'].values()) + (t, )

('001', 'Mike', '002', '45', 'M', '60000', '2020-10-18 16:06:10')

In [33]:
for d in data:
    print(d)

001
002
003
004
005
006
007

In [28]:
dataInsert = list()
for d in data:
    dataInsert.append(tuple(data[d].values()) + (t,))
dataInsert

[('001', 'Mike', '002', '45', 'M', '60000', '2020-10-18 16:06:10'),
 ('002', 'Judy', '002', '30', 'F', '48000', '2020-10-18 16:06:10'),
 ('003', 'Allen', '001', '22', 'M', '50000', '2020-10-18 16:06:10'),
 ('004', 'Tom', '002', '47', 'M', '47000', '2020-10-18 16:06:10'),
 ('005', 'Jack', '003', '36', 'M', '52000', '2020-10-18 16:06:10'),
 ('006', 'Abby', '002', '24', 'F', '45000', '2020-10-18 16:06:10'),
 ('007', 'Trump', '001', '80', 'M', '80000', '2020-10-18 16:06:10')]

In [34]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

In [35]:
cursor.executemany(sql, dataInsert)

7

In [36]:
conn.commit()

In [37]:
cursor.close()
conn.close()